<?xml version="1.0" encoding="utf-8" ?>


<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          throwExceptions="true" internalLogToConsole="true" internalLogLevel="Warn" internalLogFile="nlog.log">
  <variable name="appTitle" value="ap"/>
  <!--<variable name="csvPath" value="${specialfolder:folder=Desktop:file=${appTitle}log.csv}"/>-->
  <variable name="csvPath" value="${basedir}/logs/${appTitle}log.csv"/>
  <extensions>
    <add assembly="NLog.Mongo"/>
  </extensions>
  <targets async="true">
    <!--The following will keep the default number of log messages in a buffer and write out certain levels if there is an error and other levels if there is not. Messages that appeared before the error (in code) will be included, since they are buffered.-->
    <wrapper-target xsi:type="BufferingWrapper" name="smartLog" bufferSize="1">
      <wrapper-target xsi:type="PostFilteringWrapper">
        <!--<target-ref name="fileAsCsv"/>-->
        <target xsi:type="File" fileName="${csvPath}"
        archiveAboveSize="4194304" concurrentWrites="false" maxArchiveFiles="1" archiveNumbering="Sequence"
                    >
          <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
            <column name="time" layout="${longdate}" />
            <column name="level" layout="${level:upperCase=true}"/>
            <column name="message" layout="${message}" />
            <column name="callsite" layout="${callsite:includeSourcePath=true}" />
            <column name="stacktrace" layout="${stacktrace:topFrames=10}" />
            <column name="exception" layout="${exception:format=ToString}"/>
            <!--<column name="logger" layout="${logger}"/>-->
          </layout>
        </target>

        <!--during normal execution only log certain messages-->
        <!--<defaultFilter>level >= LogLevel.Error</defaultFilter>-->

        <!--if there is at least one error, log everything from trace level-->
        <!--<when exists="level >= LogLevel.Error" filter="level >= LogLevel.Trace" />-->
      </wrapper-target>
    </wrapper-target>

    <target xsi:type="Mongo"
        name="mongoDefault"
        connectionString="mongodb://promoLogin:$promo$@ds027829.mongolab.com:27829/promo"
        collectionName="Log"
        cappedCollectionSize="26214400">
      <property name="ThreadID" layout="${threadid}" />
      <property name="ThreadName" layout="${threadname}" />
      <property name="ProcessID" layout="${processid}" />
      <property name="ProcessName" layout="${processname:fullName=true}" />
      <property name="UserName" layout="${windows-identity}" />
    </target>

  </targets>

  <rules>
    <!--<logger name="*" minlevel="Debug" writeTo="smartLog"/>-->
    <logger name="*" minlevel="Debug" writeTo="mongoDefault"/>

  </rules>
</nlog>
