<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
      <source name="myUserTraceSource"
              switchValue="Information, ActivityTracing">
        <listeners>
          <add name="xml"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="Error.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="defaultConnectionString" value="PRONETConnection"/>
  </appSettings>
  <connectionStrings>
    <add name="PRONETConnection" connectionString="Data Source=APLVM01\SQL2014;Initial Catalog=APLPXDev;User Id=PXNetUser;password=$PxNetUser$;Pooling=True;Connection Timeout=3000" providerName="System.Data.SqlClient"/>
    <add name="PRONETConnectionOFF1" connectionString="Data Source=APLVM01\SQL2014;Initial Catalog=APLPXTest;User Id=PXNetUser;password=$PxNetUser$;Pooling=True;Connection Timeout=3000" providerName="System.Data.SqlClient"/>
    <add name="PRONETConnectionOFF2" connectionString="Data Source=APLVM01\SQL2014;Initial Catalog=APLPX01;User Id=PXNetUser;password=$PxNetUser$;Pooling=True;Connection Timeout=3000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="APLPX.Server.Services.UserService" behaviorConfiguration="DefaultBehavior">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="APLPX.Server.Services.Contracts.IUserService"/>
        <endpoint address="mex"
              binding="mexHttpBinding"
              contract="IMetadataExchange"  />
                  </service>
      <service name="APLPX.Server.Services.AnalyticService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="APLPX.Server.Services.Contracts.IAnalyticService"/>
        <endpoint address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange"  />
      </service>
      <service name="APLPX.Server.Services.PricingEverydayService">
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="APLPX.Server.Services.Contracts.IPricingEverydayService"/>
        <endpoint address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange"  />
      </service>
    </services>
    
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2000000"
                 transactionFlow="true"
          >
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>

      <basicHttpBinding>
        <binding name="MaxBufferBinding" allowCookies="true"
                 maxReceivedMessageSize="990000000"
                 maxBufferSize="990000000"
                 maxBufferPoolSize="990000000"
                 >
          <readerQuotas maxDepth="32"
               maxArrayLength="200000000"
               maxStringContentLength="200000000"/>

        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="clientExceptionTrace">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
